<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

    <!-- Enable AspectJ style of Spring AOP -->
    <aop:aspectj-autoproxy />

    <!-- Configure Employee Bean and initialize it -->
    <bean name="employee" class="com.github.zuratikaradze.aop.model.Employee">
        <property name="name" value="Dummy Name"></property>
    </bean>

    <bean name="person" class="com.github.zuratikaradze.aop.model.Person">

    </bean>

    <!-- Configure EmployeeService bean -->
    <bean name="employeeService" class="com.github.zuratikaradze.aop.service.EmployeeService">
        <property name="employee" ref="employee"></property>
    </bean>

    <!-- Configure Aspect Beans, without this Aspects advices wont execute -->
    <bean name="employeeAspect" class="com.github.zuratikaradze.aop.aspect.EmployeeAspect" />
    <bean name="employeeAspectPointcut" class="com.github.zuratikaradze.aop.aspect.EmployeeAspectPointcut" />
    <bean name="employeeAspectJoinPoint" class="com.github.zuratikaradze.aop.aspect.EmployeeAspectJoinPoint" />
    <bean name="employeeAfterAspect" class="com.github.zuratikaradze.aop.aspect.EmployeeAfterAspect" />
    <bean name="employeeAroundAspect" class="com.github.zuratikaradze.aop.aspect.EmployeeAroundAspect" />
    <bean name="employeeAnnotationAspect" class="com.github.zuratikaradze.aop.aspect.EmployeeAnnotationAspect" />

</beans>